@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@plugin 'tailwind-scrollbar';

:root {
  --arabic: Scheherazade New, serif;
  --latin: Inter, sans-serif;
}

@theme inline {
  --font-arabic: var(--arabic);
  --font-latin: var(--latin);
}

body {
  font-family: var(--font-latin);
}
